.container-about {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    /* background-color: aqua; */
    overflow: hidden;
}

.img-about {
    margin-top: -20px;
    border-radius: 20px;
    width: 450px;
    /* margin-top: 30px; */
}

.colum-left {
    margin-left: 10px;
    margin-top: 32px;
    background-color: transparent;
    width: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.precentacion{
    font-size: 20px;
    font-weight: 500;
}

.about-desc {
    margin-top: 10px;
    color: #fff;
    background-color: rgba(28, 26, 26, 0.583);
    border-radius: 20px;
    width: 450px;
    height: auto;
}

.desc {
    margin: 15px;
    /* text-align: center; */
}

.about-center {
    margin-top: 17px;
    color: #fff;
    width: 600px;
    height: 600px;
    border-radius: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.center-desc{
    background-color: rgba(28, 26, 26, 0.583);
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 20px;
    height: 50%;
    border-radius: 20px;
}

.desc-dev{
    margin: 10px;
}

.desc-dev label{
    font-size: 25px;
}

.about-right {
    margin-top: 17px;
    width: auto;
    height: 690px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 10px;
}

.about-items {
    display: flex;
}

.location {
    margin-left: 10px;
    background-color: rgba(28, 26, 26, 0.583);
    height: 180px;
    display: flex;
    width: 170px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.img-location {
    width: 140px;
    border-radius: 100%;
}

.label-location {
    color: #fff;
    font-size: 25px;
    font-weight: 600;
}

.robot {
    display: flex;
    margin-left: 10px;
    margin-right: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(28, 26, 26, 0.583);
    height: 180px;
    width: 170px;
    border-radius: 20px;
}

.img-robot {
    width: 150px;
    border-radius: 100%;
    height: 150px;
}

.label-robot {
    color: #fff;
    font-size: 25px;
    font-weight: 600;
}

.contact {
    margin-top: 40px;
    background-color: rgba(28, 26, 26, 0.583);
    height: 150px;
    width: 325px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-right: 30px;
}

.contact i {
    margin-top: 5px;
    color: #fff;
    font-size: 90px;
    cursor: pointer;
}

.download-cv {
    margin-top: 50px;
    background-color: rgba(28, 26, 26, 0.583);
    height: 100px;
    margin-right: 30px;
    width: 350px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.download-cv button {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    background-color: #4080bf;
    border: none;
    padding: 10px;
    width: 250px;
    border-radius: 20px;
    cursor: pointer;
}