.title-name{
  color: white;
  margin-left: 25px;
  font-size: 90px;
  font-weight: 700;
  margin-top: -30px;
  margin-bottom: -10px;
}

.description-home{
  color: #4080bf;
  font-size: 37px;
  margin-left: 100px;
  font-weight: 800;
}